<div class="mt-8">
  <%= f.fields_for :answers do |answer| %>
    <!-- answer field-->
    <div class="">
      <%= answer.radio_button :correct, id:"correct_answer"  %>
      <%= answer.label :correct , "Correcte ?", id:"correct_answer" %>
    </div>

    <!-- answer field-->
    <%= answer.text_field :title, placeholder: "> proposition ...", class:"ln--field input rounded-md" %>
  <% end %>
</div>