<div id="<%= dom_id @course %>" class="mx-auto w-full flex">
    <%= turbo_frame_tag dom_id(@course.content) do %>
        
        <div class="p-2 border rounded-md bg-white">
        <%= @course.content %>
        </div>
    <% end %>

</div>

